body {
    --carolina-blue: #74b3ceff;
    --blue-munsell: #508991ff;
    --prussian-blue: #172a3aff;
    --midnight-green: #004346ff;
    --mint: #09bc8aff;

    background-color: var(--prussian-blue);
    color: white;
}

nav {
    background-color: var(--midnight-green);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav h1 {
    margin: 0;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}
 
nav .main_pages {
    display: flex;
    justify-content: space-around;
    align-items: center;
	margin: 0;
	padding: 0;
}
 
nav .main_pages a {
    
    display: flex;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white;
	margin-left: 10px;
}
 
nav a:hover {
    background: var(--mint);
}

label
{
    display: none;
}

label, #toggle
{
    display: none;
}
 
@media screen and (max-width: 768px)
{
    nav
    {
        height: 60px;
    }

    nav .main_pages 
    {
        display: none;
        flex-direction: row;
        background: var(--mint);
    }
 
    nav .main_pages a {
        width: 50%;
    }
 
    label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }

    #toggle:checked + .main_pages {
        display: flex;
    }
}